* {
    margin: 0;
    padding: 0;
}

body {
    background: url("./ss1.jpg") no-repeat center center /cover;
}

a {
    margin: 10px;
    padding: 7px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
    box-shadow: 0 0 10px blue;
}

#s1 {

    background: url("./ss1.jpg");

}

.html {
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}

.inp {
    width: 70%;
    margin-left: 17%;
}
.w1{
background:url("./ss1.jpg") no-repeat center center/cover;
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}